<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.filesystem_scm.FSSCM" plugin="filesystem_scm@1.20">
    <path>D:\jpetstore-6-master</path>
    <clearWorkspace>false</clearWorkspace>
    <copyHidden>false</copyHidden>
    <filterEnabled>false</filterEnabled>
    <includeFilter>false</includeFilter>
    <filters/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets></targets>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.RemediationPlugin.JenkinsIssueRemediation plugin="RemediationPlugin@1.0-SNAPSHOT">
      <issueRemedy>true</issueRemedy>
    </org.jenkinsci.plugins.RemediationPlugin.JenkinsIssueRemediation>
  </publishers>
  <buildWrappers/>
</project>