<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkins.GitRenameBranchPlugin.RenameBranch plugin="GitRenameBranchPlugin@1.0-SNAPSHOT">
      <repoPath>https://api.github.com/repos/anamika0311/jpetstore-master/</repoPath>
      <oldBranchName>BranchNew</oldBranchName>
      <newBranchName>BranchTestNew1</newBranchName>
      <authFileLocation>D:\EclipseK\Project\GitCreateBranchPlugin\abcd.props</authFileLocation>
      <commitMsg>Creating a new branch in github</commitMsg>
    </org.jenkins.GitRenameBranchPlugin.RenameBranch>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>